<!DOCTYPE html>
<html>
<head>
	<title>Update Product</title>
</head>
<body>
	<h1>Update Product</h1>
	<form method="POST" action="/update">
        <label for="id">ID:</label>
		<input type="text" name="id" id="id"><br>
		<label for="name">Name:</label>
		<input type="text" name="name" id="name"><br>
		<label for="price">Price:</label>
		<input type="text" name="price" id="price"><br>
		<label for="quantity">Quantity:</label>
		<input type="text" name="quantity" id="quantity"><br>
		<input type="submit" value="Update">
	</form>
</body>
</html>
